.navbar {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

.navbar a:hover {
  text-decoration: underline;
}

.navbar-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links.collapsed {
  display: none;
}

.navbar-links li {
  margin: 0 5px;
}

.active {
  font-weight: bold;
  text-decoration: underline;
}

.navbar-toggler {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
  display: none;
  position: relative;
  top: 0;
  right: 0;
  z-index: 1000;
  margin-left: auto;
  padding: 5px 10px;
}

.search-form {
  display: flex;
  align-items: center;
  margin-left: 10px;
  flex-grow: 1;
  max-width: 600px;
}

.search-input {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  margin-right: 5px;
  font-size: 16px;
  width: 300px;
}

.search-button {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.search-button:hover {
  background-color: #0056b3;
}

.navbar-brand {
  display: flex;
}

.navbar-brand img {
  height: 40px;
  width: auto;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
  }

  .navbar .container {
    flex-direction: row;
    align-items: center;
  }

  .navbar-toggler {
    display: block;
  }

  .navbar-links {
    flex-direction: column;
    background-color: #007bff;
    position: absolute;
    top: 50px;
    right: 0;
    width: 100%;
    z-index: 999;
  }

  .navbar-links.collapsed {
    display: none;
  }

  .search-form {
    width: 100%;
    margin: 5px 0;
  }

  .navbar-brand img {
    height: 30px;
  }

  .search-input {
    width: 50%;
    padding: 5px 10px;
    font-size: 14px;
  }

  .search-button {
    padding: 5px 10px;
    font-size: 14px;
  }
}
